:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  scrollbar-width: thin;
  scrollbar-color: rgba(31, 41, 55, 0.8) transparent;
}

:host ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

:host ::-webkit-scrollbar-track {
  background: transparent;
}

:host ::-webkit-scrollbar-thumb {
  background: rgba(15, 23, 30, 0.8);
  border-radius: 9999px;
}

:host ::-webkit-scrollbar-thumb:hover {
  background: rgba(30, 64, 80, 0.9);
}