node_modules
.git
.github
.vscode
.angular
*.md
.DS_Store
.editorconfig
.gitignore
coverage
e2e
karma.conf.js
protractor.conf.js
*.spec.ts
*.test.ts
src
package-lock.json
package.json
tsconfig*.json
tailwind.config.js
postcss.config.*
angular.json
README.md
