
.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #151e08;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 20px;
}



.title {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffee;
  margin: 0 0 8px 0;
  text-align: center;
  font-family: "bc-ludva", sans-serif;

}

.subtitle {
  font-size: 1.3rem;
  color: #cfcf8a;
  margin: 0 0 40px 0;
  text-align: center;
  font-family: "helvetica-lt-pro", sans-serif;
  font-weight: 400;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffee;
  border-radius: 12px;
  padding: 16px 20px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.form-control::placeholder {
  color: #ffffee;
}

.form-control:focus {
  outline: none;
  border-color: #99920b;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}

.forgot-password {
  text-align: right;
  margin-bottom: 24px;
  color: #cfcf8a;
}

.forgot-link {
  color: #cfcf8a;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.forgot-link:hover {
  color: #ffffee;
}

.btn-login {
  width: 100%;
  background: #99920b;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 16px 0;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 32px;
}

.btn-login:hover {
  background: #52510b;
  transform: translateY(-1px);
}

.register-section {
  text-align: center;
}

.register-text {
  color: #ffffee;
  font-size: 1rem;
  margin-right: 8px;
}

.register-link {
  color: #cfcf8a;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #ffffee;
}
