<footer class="barra-inferior" role="navigation" aria-label="Navegacion inferior">
	<nav class="barra-inferior__nav">
		<a class="barra-inferior__item" role="link" href="/chat">
			<img class="barra-inferior__icon" src="assets/chat-cream.png" alt="Chat"/>
			<span class="barra-inferior__label">Chat</span>
		</a>

		<a class="barra-inferior__item" role="link" href="/mis-plantas">
            <img class="barra-inferior__icon" src="assets/logo-cream.png" alt="Mis plantas"/>
			<span class="barra-inferior__label">Mis plantas</span>
		</a>

		<a class="barra-inferior__item" role="link" href="/mi-horario">
            <img class="barra-inferior__icon" src="assets/calendar-cream.png" alt="Mi horario"/>
			<span class="barra-inferior__label">Mi horario</span>
		</a>

		<a class="barra-inferior__item" role="link" href="/wants">
            <img class="barra-inferior__icon" src="assets/heart-cream.png" alt="Wants"/>
			<span class="barra-inferior__label">Wants</span>
		</a>
	</nav>
</footer>
